%tbody.income
  %tr.credit
    %td
      = link_to "#", class: 'expand' do
        %i.icon-money
        Income
    %td.amount= number_to_currency presenter.monthly_income_estimate
    %td.amount= number_to_currency presenter.monthly_income_amount
    %td= raw credit_or_debit(presenter.monthly_income_amount - presenter.monthly_income_estimate)
%tbody.income.nested
  - presenter.incomes.each do |income|
    %tr.credit
      %td
        \--
        = link_to income do
          = income.title
      %td.amount= number_to_currency income.amount
      %td.amount= number_to_currency presenter.monthly_income_for(income)
      %td= raw credit_or_debit(presenter.monthly_income_for(income) - income.amount)