%tbody.monthly-bills
  %tr
    %td= link_to "Monthly Bills", "#", class: 'expand'
    %td= number_to_currency 2000
    %td= number_to_currency presenter.monthly_bills_amount
    %td= number_to_currency presenter.monthly_bills_yearly_amount
    %td= number_to_percentage(presenter.monthly_bills_percentage, precision: 2)
%tbody.monthly-bills.nested
  - presenter.monthly_bills.each do |bill|
    %tr
      %td
        \--
        = link_to name_for_bill(bill), bill
      %td= number_to_currency bill.amount
      %td= number_to_currency bill.variable_amount ? 0 : bill.amount
      %td= number_to_currency bill.variable_amount ? 0 : bill.amount * 12
      %td= number_to_percentage(presenter.percent_of_income(bill.amount * 12))
