%tbody.monthly-bills
  %tr.debit
    %td= link_to "Monthly Bills", "#", class: 'expand'
    %td.amount= number_to_currency presenter.monthly_bills_estimate
    %td.amount= number_to_currency presenter.monthly_bills_amount
    %td= raw credit_or_debit(presenter.monthly_bills_amount - presenter.monthly_bills_estimate)
%tbody.monthly-bills.nested
  - presenter.monthly_bill_presenters.each do |bill|
    %tr.debit
      %td
        \--
        = link_to name_for_bill(bill), bill
      %td.amount= number_to_currency bill.amount
      %td.amount= number_to_currency presenter.monthly_bills_for(bill)
      %td= raw credit_or_debit(bill.amount - presenter.monthly_bills_for(bill))
