%tbody.budgets
  %tr.debit
    %td= link_to "Monthly Budgets", "#", class: 'expand'
    %td.amount= number_to_currency presenter.monthly_budgets_estimate
    %td.amount= number_to_currency presenter.monthly_budgets_amount
    %td= raw credit_or_debit(presenter.monthly_budgets_amount - presenter.monthly_budgets_estimate)
%tbody.budgets.nested
  - presenter.monthly_budgets.each do |budget|
    %tr.debit
      %td
        \--
        = link_to budget.title, transactions_path(category: budget)
      %td.amount= number_to_currency budget.amount
      %td.amount= number_to_currency presenter.monthly_budgets_for(budget)
      %td= raw credit_or_debit(budget.amount - presenter.monthly_budgets_for(budget))

