%tbody.savings
  %tr.debit
    %td= link_to "Savings", "#", class: 'expand'
    %td.amount= number_to_currency presenter.monthly_savings_estimate
    %td.amount= number_to_currency presenter.monthly_savings_amount
    %td= raw credit_or_debit(presenter.monthly_savings_estimate - presenter.monthly_savings_amount)
%tbody.savings.nested
  - presenter.savings.each do |saving|
    %tr.debit
      %td
        = link_to saving do
          = saving.title
      %td.amount= number_to_currency saving.monthly_amount * -1
      %td.amount= number_to_currency presenter.monthly_savings_for(saving) * -1
      %td= raw credit_or_debit(presenter.monthly_savings_for(saving) - saving.monthly_amount)