%tbody.budgets
  %tr.debit
    %td= link_to "Yearly Budgets", "#", class: 'expand'
    %td.amount= number_to_currency presenter.yearly_budgets_estimate
    %td.amount= number_to_currency presenter.yearly_budgets_amount
    %td= raw credit_or_debit(presenter.yearly_budgets_amount - presenter.yearly_budgets_estimate)
%tbody.budgets.nested
  - presenter.yearly_budgets.each do |budget|
    %tr.debit
      %td
        \--
        = link_to budget.title, transactions_path(category: budget.id)
      %td.amount= number_to_currency budget.amount
      %td.amount= number_to_currency presenter.yearly_budgets_for(budget)
      %td= raw credit_or_debit(budget.amount - presenter.yearly_budgets_for(budget))