%tbody.yearly-bills
  %tr.debit
    %td= link_to "Yearly Bills", "#", class: 'expand'
    %td.amount= number_to_currency presenter.yearly_bills_estimate
    %td.amount= number_to_currency presenter.yearly_bills_amount
    %td= raw credit_or_debit(presenter.yearly_bills_amount - presenter.yearly_bills_estimate)
%tbody.yearly-bills.nested
  - presenter.yearly_bill_presenters.each do |bill|
    %tr.debit
      %td
        \--
        = link_to name_for_bill(bill), transactions_path(category: bill)
      %td.amount= number_to_currency bill.amount
      %td.amount= number_to_currency presenter.yearly_bills_for(bill)
      %td= raw credit_or_debit(bill.amount - presenter.yearly_bills_for(bill))