#subheader
  .inner
    .container
      %h1 Dashboard - June 2012

#subpage
  .container
    .row
      .span9
        %h3 Monthly Outlook
        %table.table.expenses
          %thead
            %tr
              %th Type
              %th Monthly Estimate
              %th Monthly Amount
              %th Difference

          = render partial: 'income', locals: { presenter: @presenter }
          = render partial: 'savings', locals: { presenter: @presenter }

          = render partial: 'monthly_bills', locals: { presenter: @presenter }
          = render partial: 'monthly_budgets', locals: { presenter: @presenter }

          %tr.debit
            %td.tt{ title: 'This is how much you should set aside each month for yearly expenses.' } Yearly Bills & Budgets
            %td.amount= number_to_currency @presenter.yearly_bills_estimate_per_month + @presenter.yearly_budgets_estimate_per_month
            %td.amount= number_to_currency @presenter.yearly_bills_estimate_per_month + @presenter.yearly_budgets_estimate_per_month
            %td.credit $0.00

          %tfoot
            %tr
              %th Monthly Total
              %th.tt{ title: 'Try to balance your accounts so this is positive. Increase your savings to bring this back to 0.'}= raw credit_or_debit(@presenter.monthly_estimate)
              %th.tt{ title: 'This is the net change in your account for the month.' }= raw credit_or_debit(@presenter.monthly_amount)
              %th.tt{ title: 'The difference in your account this month from what was expected.'}= raw credit_or_debit(-@presenter.monthly_estimate + @presenter.monthly_amount)
        %br


    .row
      .span9
        %h3 Yearly Outlook
        %table.table.expenses
          %thead
            %tr
              %th Type
              %th Yearly Estimate
              %th Amount Spent
              %th Difference
          = render partial: 'yearly_bills', locals: { presenter: @presenter }
          = render partial: 'yearly_budgets', locals: { presenter: @presenter }

          %tfoot
            %tr
              %th Yearly Total
              %th= raw credit_or_debit(@presenter.yearly_estimate)
              %th= raw credit_or_debit(@presenter.yearly_amount)
              %th= raw credit_or_debit(-@presenter.yearly_estimate + @presenter.yearly_amount)

      .span3
        = render partial: 'sidebar', locals: { presenter: @presenter }
