#subheader
  .inner
    .container
      %h1 Sign Up
      %small
        If you already have an account, just 
        = link_to "sign in", new_session_path(resource_name)


#subpage
  .container
    = render 'shared/flashes'
    .row
      .span6.offset3
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal well' }) do |f|
          %fieldset
            = f.input :email, hint: "You'll use this to login, and you'll need to confirm it, so use a real email address."
            = f.input :password
            = f.input :password_confirmation, label: "Confirm password"

            %p By clicking "Sign Up", you agree to our #{link_to "terms of service", "#"} and to our #{link_to "privacy policy", "#"}.

            .form-actions
              = f.submit 'Sign Up', class: 'btn btn-primary btn-large'