= simple_form_for(saving, html: { class: 'form-horizontal well' }) do |f|
  %fieldset
    = f.input :title
    = f.input :amount, as: :currency
    = f.input :variable_amount
    = f.input :description, input_html: { rows: 3 }
    = f.input :from_before_tax_income, label: 'Not included in income', hint: "Check this if this isn't included in your income - like for 401k contributions."
    = f.input :schedule, collection: Saving::SCHEDULES, default: Saving.default_schedule

    .form-actions
      = f.submit 'Save Saving', class: 'btn btn-primary btn-large'