#subheader
  .inner
    .container
      %h1 Income
#subpage
  .container
    .row
      .span9.well
        %h2 Income
        %p We'll base how much you should spend and save based on your monthly income. Try to estimate out exactly how much you plan to make per month. Later on, you'll add your individual paychecks and other income.
        %p This should be your after tax pay too - that's what you actually have to work with.
        %p= link_to "close this", "#"
    .row
      .span9
        %table.table.incomes
          %thead
            %tr
              %th From
              %th Monthly Amount
              %th Yearly Amount
              %th Schedule
              %th Controls
          %tbody
            = render @presenter.incomes
          %tfoot
            %th Totals
            %th= number_to_currency @presenter.monthly_total
            %th= number_to_currency @presenter.yearly_total
            %th{ colspan: 3} &nbsp;

      .span3
        = render partial: 'incomes/sidebar'