= link_to new_expense_path, class: "btn btn-success block" do
  %i.icon-plus
  Add New Expense
%br/

.well
  %ul.nav.nav-list
    %li.nav-header
      By Category
    %li
      = link_to "Budgeted Expenses", expenses_path(accountable_type: "Budget")
    %li
      = link_to "Bills Expenses", expenses_path(accountable_type: "Bill")
    %li
      = link_to "Uncategorized Expenses", expenses_path(accountable_type: "none")

    %li.nav-header
      Expenses By Month
    %li
      = link_to "June 2012", expenses_path(start_date: "2012-06")
    %li
      = link_to "May 2012", expenses_path(start_date: "2012-05")
    %li
      = link_to "April 2012", expenses_path(start_date: "2012-04")

